* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #171219;
    color: #fff;
    line-height: 1.6;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #221f23;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.navbar a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    font-weight: 500;
    transition: color 0.3s ease;
}
.navbar a:hover{
    color: #F8C537;
} 
.navbar .button {
    padding: 10px 20px;
    border: 2px solid #F8C537;
    border-radius: 5px;
    color:#F8C537;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}
.navbar .button:hover {
    background-color: #F8C537;
    color: #171219;
}
.logo span{
    color: #F8C537;
}

.intro, .aboutme{
    display: flex;
    background-color:#171219;
    align-items: center;
    justify-content: space-between;
    padding: 60px 60px;
}

.intro-text, .aboutme-text{
    max-width: 50%;
}
.intro h1, .aboutme h1{
    font-size: 3rem;
    margin-bottom: 20px;
    color: #F8C537;
}
.intro h1 span, .aboutme h1 span{
    color: #fff;
}
.intro .button{
    padding: 15px 25px;
    background-color: #F8C537;
    color: #171219;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.intro .button:hover {
    background-color: #fff;
}
.intro-image, .aboutme-image{
    max-width: 40%;
}
.intro-image img, .aboutme-image img{
    width: 85%;
    border-radius: 100px;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2);
}
.text{
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #fff;
}
.text2{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
}

.skills-section {
    margin: auto auto;
    width: 80%;
    align-items: center;
    padding: 20px 30px;
    background-color: #221f23;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .skills-section h2 {
    text-align: center;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  
  .skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    max-height: 500px;
  }
  
  .skill-category h3 {
    margin-bottom: 15px;
    color: #fff;
    font-size: 1.25rem;
  }
  
  .skill {
    margin-bottom: 10px;
  }
  
  .skill span {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  

.progress-bar {
    background-color: #eee;
    border-radius: 20px;
    height: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
.skills{
    padding: 60px 30px;
    
}
.skills-title{
    text-align: left;
    font-size: 2.5rem;
    padding: 30px 30px;
}
.skills-title span, .project-title span, .hobies-title span{
    color: #F8C537;
}
.skills-title p, .project-title p, .hobies-title p{
    font-size: 1rem;
}
.progress {
    height: 10px;
    background-color: var(--progress-color, #3c2fb5);
    width: 0; /* Start with 0 for animation */
    border-radius: 20px;
    animation: none
    
}

/* Keyframe Animation */
@keyframes fillProgress {
    from {
        width: 0;
    }
    to {
        width: var(--progress-width); /* Uses the custom property for width */
    }
}

/* Assign Specific Widths with Custom Properties */
.cpp {--progress-width: 80%;}
.python {--progress-width: 70%;}
.java {--progress-width: 60%;}
.dsa {--progress-width: 50%;}
.html {--progress-width: 75%; --progress-color: #a51d51; }
.javascript {--progress-width: 70%; --progress-color: #a51d51;}
.sql {--progress-width: 60%; --progress-color: #a51d51;}
.api {--progress-width: 40%; --progress-color: #a51d51;}
.git {--progress-width: 70%; --progress-color: #bb9a3e;}
.jenkins {--progress-width: 60%; --progress-color: #bb9a3e;}
.jira {--progress-width: 50%; --progress-color: #bb9a3e;}
.communication {--progress-width: 80%; --progress-color: #1c5a6f;}
.tw {--progress-width: 80%; --progress-color: #1c5a6f;}
.productivity{--progress-width: 80%; --progress-color: #1c5a6f;}

.projects, .hobies, .end{
    padding: 60px 60px;
    margin-top: 30px;
}
.project-title, .hobies-title{
    text-align: left;
    font-size: 2.5rem;
    padding: 30px 30px;
}
.project-card{
    padding: 60px 40px;
    background-color: #221f23;
    width: 32%;
    text-align: center;
    border-radius: 10px;
    border-bottom: 5px solid #F8C537;
}
.project-card h1{
    color: #F8C537;
}
.project-card a{
    text-decoration: none;
    color: #eee;
    transition: background 0.3s ease;
}
.project-card a:hover{
    background:#F8C537;
    border-radius: 5px ;

}
.project-container{
    padding: 30px 30px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.project-card img{
    width: 80%;
    border-radius: 10px;
}
.youtubeLinks{
    padding: 30px 30px;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
}
.edandwork{
    padding: 60px 60px;
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
}
.education, .work{
    padding: 30px 30px;
    text-align: left;
}
.education-title, .work-title{
    font-size: 2.5rem;
    padding: 20px;
}
.collegedesc, .workdesc{
    font-size: 1.5rem;
    margin-top: 30px;
}
.education-title span, .work-title span{
    color: #F8C537;
}
.education ul, .work ul {
    list-style-type: none;
    border-left: 2px solid #F8C537;
    padding: 30px;
}
.end h1{
    color: #171219;
    text-align: center;
    font-size: 3rem;
    padding: 30px 30px;
    background-color: #eee;
}
.end p{
    text-align: center;
    padding: 30px 30px;
}
.end .button{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 15px 25px;
    background-color: #F8C537;
    color: #171219;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}
.end .button:hover {
    background-color: #fff;
}
.end .image{
    width: 8%;
    height: 10%;
    object-fit: contain;
    align-items: center;
}
.links{
    align-items: center;
    display: flex;
    padding: 60px 60px;
    gap: 50px;
}